.pulse img{
    height: 30px;
    width: 45px;
}

.pulse{
    height: 50px;
    width: 50px;
    background: linear-gradient(
        #25d366,
        #00b341
    );
    position: fixed;
    margin: auto;
    left: 75%;
    right: 20px;
    top: 80%;
    bottom: 20px;
    border-radius: 50%;
    display: grid;
    place-items: center;
    font-size: 0px;
    z-index: 9999;
    overflow: hidden;
}
.pulse:before,
.pulse:after{
    content: none;
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #00b341;
    border-radius: 50%;
    z-index: -1;
    opacity: 0.7;
}
.pulse:before{
    animation: pulse 2s ease-out infinite;
}
.pulse:after{
    animation: pulse 2s 1s ease-out infinite;
}

@keyframes pulse {
    0% {
        transform: scale(0.9);
        box-shadow: 0 0 0 0 rgba(0, 179, 65, 0.7);
    }
    70% {
        transform: scale(1);
        box-shadow: 0 0 0 10px rgba(0, 179, 65, 0);
    }
    100% {
        transform: scale(0.9);
        box-shadow: 0 0 0 0 rgba(0, 179, 65, 0);
    }
}

.pulse {
    animation: pulse 2s infinite; 
}